# my env config #
.spyproject/
__pycache__/
temp/
tmp/
mnist/
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.dump
*.dmp

# bin files #
*.com
*.class
*.dll
*.exe
*.o
*.so
 
# Lib and Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
 
# databases #
*.db
*.mdb
*.sql
*.sqlite
*.log
 
# other files #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db